body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
    text-align: center;
    color: skyblue ;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxTopContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.textContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 2%;
}
.textContainer p{
    display: flex;
    flex-direction: column;
    align-self: self-start;
    margin-left: 5px;
    color: skyblue;
}
.textContainer input{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 10px;
    border: 0;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}
.textContainer button{
    width: 90%;
    height: 50px;
    align-self: center;
    margin-bottom: 10px;
    background-color: skyblue;
    border: 0;
    color: white;
}
.textContainer button:hover{
    border: 1px solid skyblue;
   background-color: white;
   color: skyblue;
   cursor: pointer; 
}
.topSquare{
    width: 80px;
    height: 80px;
    border: none;
    background-color:skyblue;
    outline: none;
    font-size: 50px;
    color: black;
    text-align: center;
    font-variant-caps: all-small-caps;
    border-radius: 20%;

}
.outputMsg{
    display: flex;
    background-color: red;
    width: 30%;
    margin-bottom: 10px;
    border-radius: 2%;
}
.outputMsg p{
    font-size: x-large;
    color: white;
    margin-left: 5px;
}
.row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.square{
    width: 80px;
    height: 80px;
    border: none;
    background-color:grey;
    outline: none;
    font-size: 50px;
    color: white;
    text-align: center;
    font-variant-caps: all-small-caps;
    border-radius: 20%;


}
.result{
    text-align: center;
    font-size: 36px;
}
.button{
    width: 170px;
    height: 60px;
    border: none;
    background-color: skyblue;
    font-size: 32px;
    color: white;

}
.button:hover{
   border: 1px solid skyblue;
   background-color: white;
   color: skyblue;
   cursor: pointer; 
}
.grey{
    background-color: grey;
    }

.yellow{
    background-color: gold;
}
.green{
    background-color: green;
}